<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Morne Venter</h5>
          </a>
          <p class="description">
            9712045784253
          </p>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>Member since
                <br>
                <small>01 Jun 2018</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>Bank
                <br>
                <small>Standard Bank</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
