
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header ">
        <h3>Transaction History</h3>
      </div>
      <table style="width:100%">
        <div class="card-body ">
          <hr class="border-bottom">
          <app-transaction [hasHeader]="true"></app-transaction>
          <hr class="border-bottom">
          <app-transaction [tModel]="t1" [isWarning]="true"></app-transaction>
          <app-transaction [tModel]="t2"></app-transaction>
        </div>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header ">
        <h3>Suggestions</h3>
      </div>
      <div class="card-body">
        <app-suggestion></app-suggestion>
      </div>
    </div>
  </div>
</div>
